path {
  stroke: deepblue;
  stroke-width: 2px;
  fill: steelblue;
}

svg {
	background-color: bisque;
}

.marker {
	fill: rgba(255, 105, 71, 0.9);
}

.marker-out {
	fill: rgba(255, 105, 71, 0.3);
}

#vis {
	width: 65vw;
	background-color: seagreen;
	border-radius: 5px;
}